exportPattern("^[[:alpha:]]+")
exportClasses(
    "SlicedData" 
)
S3method(plot, MatrixEQTL)
S3method(summary, SlicedData)
exportMethods(
    "[[",
    "[[<-",
    "colnames",
    "colnames<-",
    "dim",
    "length",
    "ncol",
    "NCOL",
    "nrow",
    "NROW",
    "rownames",
    "rownames<-",
    "show",
    "as.matrix",
    "rowMeans",
    "rowSums",
    "colMeans",
    "colSums"
)

